.avatar-gallery {
  display: flex;
  gap: 10px;
  margin: 1em 0;
}
// .avatar-choice {
//   width: 64px;
//   height: 64px;
//   border-radius: 50%;
//   cursor: pointer;
//   transition: transform 0.2s ease;
// }

// .avatar-choice:hover {
//   transform: scale(1.1);
// }