<h3>{{i18n "js.custom_avatars.title"}}</h3>
<div class="avatar-gallery">
  {{#each this.avatars as |avatar|}}
    <img
      src={{avatar}}
      alt="avatar"
      class="avatar-choice"
      {{on "click" (fn this.selectAvatar avatar)}}
    >
  {{/each}}
</div>